body {
    background-image: url("https://i.pinimg.com/1200x/71/77/98/7177985535ec83dc423241345facaaee.jpg");
    background-size: cover;

}
.about-me {
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 250px auto;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
}

nav {
    background-color: #97a37a;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    width: 210px;
    height: 160px;
    background-color: #97a37a;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #97a37a, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    

}

nav h2 {
    color: white;
}
nav li {
    list-style-type: none;
    margin: 0.5rem 0;
}


main { 
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow:scroll;
    overflow-x: hidden;
    padding: 1rem;
    width: 600px;
    height: 260px;
    background-color: #97a37a;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #97a37a, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

/*credits to https://scripted.neocities.org/scrollbox for giving me the scrollbar! */
   ::-webkit-scrollbar {
        width: 14px;
        }

        ::-webkit-scrollbar:horizontal {
        height: 14px;
        }

        ::-webkit-scrollbar-corner {
        background: #eee;
        }

        ::-webkit-scrollbar-track:vertical {
        background: linear-gradient(90deg, #e5e5e5, #f0f0f0 20%);
        border-radius: 5px;
        }

        ::-webkit-scrollbar-track:horizontal {
        background: linear-gradient(180deg, #e5e5e5, #f0f0f0 20%);
        border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
        border: 1.5px solid #888;
        border-radius: 5px;
        box-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
        }

        ::-webkit-scrollbar-thumb:vertical {
        background: linear-gradient(90deg, #eee 45%, #ddd 0, #bbb);
        }

        ::-webkit-scrollbar-thumb:horizontal {
        background: linear-gradient(180deg, #eee 45%, #ddd 0, #bbb);
        }

        ::-webkit-scrollbar-button:horizontal:end:increment,
        ::-webkit-scrollbar-button:horizontal:start:decrement,
        ::-webkit-scrollbar-button:vertical:end:increment,
        ::-webkit-scrollbar-button:vertical:start:decrement {
        display: block;
        }

        ::-webkit-scrollbar-button:vertical {
        height: 15px;
        }

        ::-webkit-scrollbar-button:vertical:start:decrement {
        background: white;
        background: url("https://dl.dropbox.com/s/n9ji42h9hdgdtpc/scroll3.png"), #eee;
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: 100% auto, cover;
        -webkit-background-size: 100% auto, cover;
        -o-background-size: 100% auto, cover;
        background-size: 100% auto, cover;
        border: 1.5px solid #888;
        border-radius: 5px;
        }

        ::-webkit-scrollbar-button:vertical:start:increment {
        display: none;
        }

        ::-webkit-scrollbar-button:vertical:end:decrement {
        display: none;
        }

        ::-webkit-scrollbar-button:vertical:end:increment {
        background: white;
        background: url("https://dl.dropbox.com/s/cdcco6pih7n1lae/scroll4.png"), #eee;
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: 100% auto, cover;
        -webkit-background-size: 100% auto, cover;
        -o-background-size: 100% auto, cover;
        background-size: 100% auto, cover;
        border: 1.5px solid #888;
        border-radius: 5px;
        }

        ::-webkit-scrollbar-button:horizontal {
        width: 14px
        }
        ::-webkit-scrollbar-button:horizontal:start:increment {
        display: none;
        }
        ::-webkit-scrollbar-button:horizontal:end:decrement {
        display: none;
        }

        ::-webkit-scrollbar-button:horizontal:start:decrement {
        background: white;
        background: url("https://dl.dropbox.com/s/xcm618ghd823271/scroll5.png"), linear-gradient(180deg, #e5e5e5, #f0f0f0 20%);
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: 100% auto, cover;
        -webkit-background-size: 100% auto, cover;
        -o-background-size: 100% auto, cover;
        background-size: 100% auto, cover;
        background-position: center;
        border-radius: 5px;
        border: 1.5px solid #888;
        }

        ::-webkit-scrollbar-button:horizontal:end:increment {
        background: white;
        background: url("https://dl.dropbox.com/s/byeyi7am889ii9m/scroll6.png"), linear-gradient(180deg, #e5e5e5, #f0f0f0 20%);
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: 100% auto, cover;
        -webkit-background-size: 100% auto, cover;
        -o-background-size: 100% auto, cover;
        background-size: 100% auto, cover;
        background-position: center;
        border-radius: 5px;
        border: 1.5px solid #888;
        }

main p {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: smaller;
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    text-align: right;
    
}

footer i {
    color: aliceblue;
}

.fa-github {
    font-size: 40px;
}

.fa-instagram {
    font-size: 40px;
}

.fa-envelope {
    font-size: 40px;
}

