body {
    background-image: url("https://i.pinimg.com/1200x/71/77/98/7177985535ec83dc423241345facaaee.jpg");
    background-size: cover;

}
.about-me {
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px auto;
}

header {
    border: black 2px solid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
}

nav {
    background-color: #97a37a;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    background-color: #97a37a;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #97a37a, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    

}

nav li {
    list-style-type: none;
    margin: 0.5rem 0;
}


main { 
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: hidden;
    padding: 1rem;
    background-color: #97a37a;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #97a37a, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

main p {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: x-small;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}

footer {
    border: black 2px solid;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

