/* Reset body margin */
body {
  margin: 0;
  background-color: #d4e8ff;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

/* HEADER FULL WIDTH */
header {
  width: 100%;
  background-color: #dab39c;

  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;            /* vertical centering */

  padding: 1.5rem 2rem;           /* internal spacing */
  box-sizing: border-box;
  font-size: 1.2rem;
}

/* LOGO */
.logo {
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
}

/* MENU LINKS */
.menu {
  display: flex;
  gap: 3rem; /* space between tabs */
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

.menu a:hover {
  text-decoration: underline;
}

#me_container {
    width: 62%;
    float: left;
    margin-left: 5%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #d4e8ff;
}

#me_container h1 {
    font-size: 3rem;
}

#me_container h2 {
    text-align: center;
    font-size: 1.5rem;
}

#me_container p {
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

#me_container li {
  margin: 0.5rem 0;
}

.overflow-auto {
  width: 25%;
  height: 250px;
  float: left;
  overflow-y: auto;
  margin-top: 2rem;
  margin-left: -30px;
  scroll-behavior: smooth;

  
}

.overflow-auto img {
  display: block;
  margin: 1rem auto;
  height: 100px;
  width: 100px;
} 